<div th:fragment="script">
	<script th:src="@{assets/admin/js/jquery-3.2.1.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{assets/admin/js/popper.min.js}"></script>
	<script th:src="@{https://unpkg.com/boxicons@latest/dist/boxicons.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{assets/admin/js/bootstrap.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{assets/admin/js/main.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{assets/admin/js/plugins/pace.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{assets/admin/js/plugins/chart.js}"></script>
</div>